---
import Layout from "../layouts/Layout.astro";
import SVG from "../components/SVGbg.astro";
---

<Layout title="首页">
  <div
    class="absolute z-20 text-on-background w-full h-screen flex items-center justify-center flex-wrap"
  >
    home
    <SVG />
  </div>
</Layout>
