---
import Layout from "../layouts/Layout.astro";
---

<Layout title="首页">
  <div
    class="absolute z-20 text-primary w-full h-screen flex items-center justify-center flex-wrap"
  >
    home page
  </div>
</Layout>
