---
import { getCollection } from "astro:content";
import Layout from "~/layouts/Layout.astro";
import dayjs from "dayjs";
import { Comment } from "~/components/Comment";

export async function getStaticPaths() {
  const blogEntries = await getCollection("posts");
  return blogEntries
    .filter((post) => !post.data.isDraft)
    .map((entry) => ({
      params: { slug: entry.slug },
      props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

// 计算阅读时间
const words = entry.body.split(" ").length;
const minutes = Math.ceil(words / 200);
---

<Layout title={entry.data.title}>
  <h1>{entry.data.title}</h1>
  <p class="text-secondary">
    {dayjs(entry.data.pubDate).format("MM-DD")}. {minutes} 分钟
  </p>
  <Content />
  {
    entry.data.isComment && (
    <Comment client:only />
    )
  }

</Layout>
