---
import dayjs from "dayjs";
const copyright = "CC BY-NC-SA 4.0";
const username = "withastro";
---

<footer class="title-md text-on-surface mt-10 mb-6 flex justify-center w-full">
  <p>
    <a
      class="text-primary hover:text-on-primary"
      href="https://creativecommons.org/licenses/by-nc-sa/4.0/">{copyright}</a
    >
    2021-{dayjs().year()} © {username}
  </p>
</footer>
