---
import { Icon } from "astro-icon/components";
import { cn } from "~/utils/cn";
import { socialLinks } from "~/config";
---

<div
  class={cn(
    "max-w-screen-ms mx-auto",
    "text-on-background flex space-x-4 items-center w-full py-2 px-4",
    "md:max-w-screen-md",
    "lg:max-w-screen-lg",
    "xl:max-w-screen-xl"
  )}
>
  <a class="fixed w-36 h-9 z-10 flex items-center" href="/">Eth.Young</a>
  <div class="flex w-full justify-end top-0 py-4 z-10 title-lg space-x-6">
    <a href="/reflection/" class="text-on-surface hover:text-secondary">Blog</a>
  </div>
  <div class="flex title-lg space-x-2">
    {
      socialLinks &&
        socialLinks.map((link) => (
          <a href={link.url} class="hover:text-secondary" target="_blank">
            <Icon name={link.icon} />
          </a>
        ))
    }
    <Icon name="ri:sun-fill" class="hover:text-secondary cursor-pointer sun" />
    <Icon
      name="ri:moon-fill"
      class="hover:text-secondary cursor-pointer mooon"
    />
  </div>
</div>
