---
interface Props {
  title?: string;
  description?: string;
  frontmatter?: {
    title?: string;
    description?: string;
  };
}
import { ViewTransitions } from "astro:transitions";
const { title, frontmatter, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content={description || (frontmatter && frontmatter.description)}
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title || (frontmatter && frontmatter.title)}</title>
    <ViewTransitions />
    <script is:inline>
      (function () {
        const storedTheme = JSON.parse(
          window.localStorage.getItem("theme") ?? '"auto"'
        );
        let presetTheme;
        if (storedTheme === "auto") {
          presetTheme = window.matchMedia("(prefers-color-scheme: dark)")
            .matches
            ? "dark"
            : "light";
        } else {
          presetTheme = storedTheme;
        }
        if (presetTheme === "dark") {
          document.documentElement.classList.add("dark");
          document.documentElement.style.colorScheme = "dark";
        } else {
          document.documentElement.classList.remove("dark");
          document.documentElement.style.colorScheme = "light";
        }
      })();
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
