---
interface Props {
  title?: string;
  frontmatter: {
    title: string;
  };
}
const { title, frontmatter } = Astro.props;
import Footer from "~/components/Footer.astro";
import Navigation from "~/components/Navigation.astro";
import RandomSVG from "~/components/RandomSVGBackground.astro";
import { cn } from "~/utils";
---

<script>
  import {
    argbFromHex,
    themeFromSourceColor,
    applyTheme,
  } from "@material/material-color-utilities";
  // Get the theme from a hex color
  const theme = themeFromSourceColor(argbFromHex("#002FA7"), [
    {
      name: "custom-1",
      value: argbFromHex("#ffdd77"),
      blend: true,
    },
  ]);

  // Check if the user has dark mode turned on
  const systemDark = window.matchMedia("(prefers-color-scheme: dark)").matches;

  // Apply the theme to the body by updating custom properties for material tokens
  applyTheme(theme, { target: document.body, dark: systemDark });
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title || frontmatter.title}</title>
    <style>
      @font-face {
        font-family: "smiley-sans";
        src: url("/fonts/SmileySans-Oblique.otf.woff2") format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      *::selection {
        background-color: var(--md-sys-color-primary-container);
      }

      :root {
        scrollbar-gutter: stable;
      }
    </style>
  </head>
  <body class="relative">
    <section class="flex flex-col bg-background">
      <Navigation />
      <main
        class={cn(
          "flex-1 w-full px-4 py-16 sm:px-0 min-h-screen",
          "max-w-screen-sm md:max-w-screen-md mx-auto",
          "prose md:prose-lg text-on-background dark:prose-invert prose-md"
        )}
      >
        <slot />
      </main>
      <RandomSVG />
      <Footer />
    </section>
  </body>
</html>
