---
interface Props {
  title?: string;
  frontmatter?: {
    title?: string;
  };
}
const { title, frontmatter } = Astro.props;
import Footer from "~/components/Footer.astro";
import Header from "~/components/Header";
import RandomSVG from "~/components/RandomSVGBackground.astro";
import { cn } from "~/utils";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title || (frontmatter && frontmatter.title)}</title>
    <style>
      @font-face {
        font-family: "smiley-sans";
        src: url("/fonts/SmileySans-Oblique.otf.woff2") format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      *::selection {
        background-color: var(--md-sys-color-primary-container);
      }

      :root {
        scrollbar-gutter: stable;
      }
    </style>
  </head>
  <body class="relative dark">
    <section class="flex flex-col bg-background">
      <Header client:only />
      <main
        class={cn(
          "flex-1 w-full px-4 py-16 sm:px-0 min-h-screen text-default-600",
          "max-w-screen-sm md:max-w-screen-md mx-auto",
          "prose md:prose-lg dark:prose-invert prose-md"
        )}
      >
        <slot />
      </main>
      <RandomSVG />
      <Footer />
    </section>
  </body>
</html>
